* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin-left: 05%;
}

input[type="text"] {
  width: 22%;
  padding: 15px;
  margin: 5px -70px 22px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  margin-left: 15%;
  margin-right: -10%;
}

h1 {
  text-align: center;
  justify-content: center;
  margin-right: 20%;
}
p {
  text-align: center;
  justify-content: center;
  margin-right: 20%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[name="psw"] {
  width: 22%;
  padding: 15px;
  margin: 5px 40px 22px 0;

  border: none;
  position: relative;
  background: #f1f1f1;
  margin-left: 15%;
  margin-top: 5%;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 105%;
  margin-left: -10%;
}

button {
  background-color: #00c2cb;
  color: black;
  padding: 14px 2px;
  margin: 8px 30%;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  font-size: 20px;
}

button:hover {
  opacity: 1;
}

.create_account {
  margin: 0% 38%;
  margin-left: 29%;
  font-size: 45px;
}

.signupbtn {
  float: left;
  margin-top: 10%;
  margin-left: -47%;
  position: absolute;
  width: 25%;
  border-radius: 20px;

  color: white;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1.5px;

  overflow: hidden;
  text-decoration: none;

  background-color: #00cb2fc8;
}

.loginbtn {
  float: left;
  margin-top: 5%;
  margin-left: 25%;
  width: 30%;
  border-radius: 20px;

  color: white;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #004ecbc8;
}

.MensajesFlash {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #07b69c;
  border-radius: 40px;
  color: white;
}

.container {
  padding: 40px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
  .loginbtn {
    width: 100%;
  }
}
