<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reportesAdmin.css') }}">
    <title>Tipo de cuenta</title>
</head>

<body>

    <div class="container">
        <h1>Tipo de cuenta</h1>
        <hr>


        <form action="/tipoCuenta1" method="POST" autocomplete="off">

            <label class="tipoCuenta" id="tipoCuenta" for="tipoCuenta" method="GET">Elige tu tipo de cuenta</label>
            <select class="selectXD" id="tipoCuenta" name="tipoCuenta" method="GET">
                <option value="free">Gratis</option>
                <option value="basic">Básica</option>
                <option value="premium">Premium</option>
            </select>

            <br>
            <div class=" clearfix">
                <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="cat">Enviar
                    </a> </button>
            </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="box-message">
        <p class="MensajesFlash"> {{ message }} </p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


</body>

</html>