<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addtrailer.css') }}">
    <title>Agregar trailer</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="box-message">
        <p> {{ message }} </p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <section class="container">

        <h1 class="title">Información de trailer</h1>

        <hr>

        <form class="form" action="/agregarTrailer" method="POST" autocomplete="off">
            <input type="number" placeholder="ID" name="id" id="id" method="GET" required>
            <input type="text" placeholder="Titulo" name="title" id="title" method="GET" required>
            <input type="number" placeholder="ID Género" name="genre" id="genre" method="GET" required>
            <input type="number" placeholder="ID Categoría" name="category" id="category" method="GET" required>
            <input type="number" placeholder="Duración" name="time" id="time" method="GET" required>
            <input type="number" placeholder="ID Director" name="director" id="director" method="GErequiredT" required>
            <input type="number" placeholder="ID Actor principal" name="prota" id="prota" method="GET required"
                required>
            <input type="number" placeholder="Premios" name="awards" id="awards" mrequiredethod="GET">
            <input type="date" placeholder="Fecha de estreno" name="date" id="date" method="GE requiredT">
            <input type="text" placeholder="URL" name="url" id="url" method="GET" required>
            <input type="text" placeholder="Sinópsis" name="summary" id="summary" method="GET">
            <input type="number" placeholder="ID Anuncio" name="ad" id="ad" method="GET">


            <section class=" clearfix">
                <button type="submit" class="add-tr-btn" value="submit"> <a id="Add-Tr">Agregar</a>
                </button>
            </section>
        </form>
    </section>
</body>

</html>