<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/busquedas.css') }}">
    <title>Bitacoras</title>
</head>

<body>

    <p class="title">Bitacoras</p>

    <hr>

    <table id="bitacorax">
        <thead>
            <tr>
                <td>ID del Administrador</td>
                <td>Tabla Modificada</td>
                <td>Accion realizada</td>
                <td>Hora</td>
            </tr>
        </thead>
        <tbody>
            {% for row in lista %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>

</html>