<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
</head>

<body>

    <div class="container">
        <h1>Login</h1>
        <hr>

        <form action="/verificarUser" method="POST" autocomplete="off">
            <p>Ingrese su correo y contraseña</p>


            <input type="text" name="username" placeholder="Correo" id="username" method="GET" required>
            <input type="password" name="psw" placeholder="Contraseña" id="psw" method="GET" required>
            <button type="submit" class="loginbtn" value="submit" method="GET"> <a id="crearCuenta">Ingresar</a>
            </button>


            <div class=" clearfix">
                <button type="submit" class="signupbtn" method="GET"> <a href="signup" id=" signup">Crear cuenta</a>
                </button>
            </div>
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="box-message">
        <p class="MensajesFlash"> {{ message }} </p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


</body>

</html>