<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        <hr>


        <p>Ingrese su usuario y contraseña</p>
        <form class="form-group" action="/login/" method="post">

            <input type="text" name="username" placeholder="Usuario" id="username" required>

            <input type="password" name="psw" id="pass" placeholder="Contraseña" id="password" required>

            <button type="submit" class="signupbtn" value="submit"> <a id="crearCuenta">Ingresar</a>
            </button>
        </form>


    </div>

</body>

</html>