<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reportesAdmin.css') }}">
    <title>Menu de Admin</title>
</head>

<body>

    <div class="container">
        <h1>Menu de administrador</h1>
        <hr>



        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="agregarAnuncio">Agregar
                    anuncio</a>
            </button>
        </div>
        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="eliminarAnuncio">Eliminar
                    anuncio</a>
            </button>
        </div>


        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="modanuncio">Modificar
                    anuncio</a> </button>
        </div>

        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="addanu">Agregar anunciante</a>
            </button>
        </div>
        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="deleteanu">Eliminar
                    anunciante</a>
            </button>
        </div>


        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="top10Actores">Modificar
                    anunciante</a> </button>
        </div>


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="box-message">
            <p class="MensajesFlash"> {{ message }} </p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}


</body>

</html>