<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/busquedas.css') }}">
    <title>Mantenimiento</title>

</head>

<body>

    <p class="title">Mantenimiento</p>
    <hr>


    <br>
    <br>
    <br>

    <section class="continuar-viend-section">
        <section class="inputs-fav">
            <section class="continuarviendo">
                <form class="form" action="/mantenimiento1" method="POST" autocomplete="off">
                    <section class="inputs-continuar">
                        <input type="text" placeholder="Nombre" name="user" id="user" method="GET">
                    </section>
                    <section class=" clearfix">
                        <button type="submit" class="add-tr-btn" value="submit"> <a id="Add-Tr">Hacer administrador</a>
                        </button>
                    </section>
                </form>
            </section>
        </section>

        <table id="enProgreso" class="tablacontinuar">
            <thead>
                <td>Usuario no admin</td>
                </tr>
            </thead>
            <tbody>
                {% for row in lista %}
                <td>{{row[0]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <section>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="MensajesFlash">
                {% for message in messages %}
                {{ message }}<br>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </section>
    </section>

</body>


</html>