<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reportesAdmin.css') }}">
    <title>Menu de Admin</title>
</head>

<body>

    <div class="container">
        <h1>Menu de administrador</h1>
        <hr>



        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="manCon">Manejar Contenido</a>
            </button>
        </div>
        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="cantRep">Manejar Usuarios</a>
            </button>
        </div>


        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="manAnu">Manejar
                    Anuncios</a> </button>
        </div>

        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="cat">Ir a catálogo</a>
            </button>
        </div>

        <div class=" clearfix">
            <button type="submit" class="signupbtn1" id="btn1" method="GET"> <a id="signup" href="reportes">Módulo
                    de
                    reportes</a> </button>
        </div>
        <div class=" clearfix">
            <button type="submit" class="signupbtn1" id="btn1" method="GET"> <a id="signup"
                    href="Simulaciones">Simulaciones</a> </button>
        </div>

    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="box-message">
        <p class="MensajesFlash"> {{ message }} </p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


</body>

</html>