<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reportesAdmin.css') }}">
    <title>Reportes de Admin</title>
</head>

<body>

    <div class="container">
        <h1>Reportes para administrador</h1>
        <hr>



        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="top10">Top 10
                    géneros</a> </button>
        </div>
        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="cantRep">Cantidad
                    de Reproducciones</a>
            </button>
        </div>


        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="top10Actores">Top 10
                    directores y actores</a> </button>
        </div>

        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="cuentasAvan">Cantidad de cuentas
                    avanzadas</a> </button>
        </div>
        <div class=" clearfix">
            <button type="submit" class="signupbtn" method="GET"> <a id="signup" href="horasPico">Hora
                    Pico</a> </button>
        </div>

    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="box-message">
        <p class="MensajesFlash"> {{ message }} </p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


</body>

</html>