<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
        integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>

<body>
    <div class="whoIsWatching">
        <div class="logo-section">
            <a> HHTV</a>
        </div>

        <div class="main-div">
            <h1>¿Quien está viendo?</h1>

            <form action="/agregaPerfil" method="POST">
                <div class="memberDiv">
                    <button class="addIcon"><i class="fas fa-plus-circle"></i> <span>Agregar perfil</span></button>
                </div>

                <button class="manageProfile">Manejar perfil</button>
            </form>


        </div>
    </div>

</body>


<script type="text/javascript">
    const users = ['Ale', 'Maco', 'Cristian'];

    const memberDiv = document.querySelector('.memberDiv');
    const addIcon = document.querySelector('.addIcon');

    const userIcons = () => {
        users.reverse();
        users.map((curElem) => {
            memberDiv.insertAdjacentHTML('afterbegin', `
        <button class="btn"><span>${curElem}</span></button>
        `);
        })
    };


    addIcon.addEventListener('click', () => {
        let userName = prompt('Ingrese su nombre');


        if (users.length <= 8) {
            if (userName != null && !users.includes(userName)) {


                users.push(userName);

                memberDiv.insertAdjacentHTML('afterbegin', `
    <button class="btn"><span>${userName}</span></button>
    `);
            } else {
                alert('Usuario existente');
            }
        }
        else {
            alert("Has excedido el numero de usuarios!")
        }

    })




    userIcons();

</script>


</html>