<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creacion de cuenta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">

</head>

<body>



    <div class="container">

        <h1 class="create_account">Crear cuenta</h1>

        <hr>

        <input type="text" placeholder="Nombre" name="name" id="name" method="GET">
        <input type="text" placeholder="Apellido" name="lastname" id="lastname" method="GET">

        <input type="text" placeholder="Nombre de usuario" name="username" id="username" method="GET" required>

        <input type="text" placeholder="Ingresar Email" name="email" id="user_email" method="GET" required>


        <input type="password" placeholder="Contraseña" name="psw" id="pass" method="GET" required>

        <input type="date" placeholder="Fecha de nacimiento" name="birthdate" required>

        <input type="text" placeholder="DPI" name="DPI" id="DPI" method="GET" required>


        <div class="clearfix">


            <button type="submit" class="signupbtn" value="submit"> <a href="{{url_for('login')}}"
                    id="crearCuenta">Registrarte</a>
            </button>
        </div>




    </div>
</body>


</html>