<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/horasPico.css') }}">
    <title>Top 10 de los términos que los usuarios buscan</title>
</head>


<body>
    <section class="container">
        <h1 class="title">Top 10 de los términos que los usuarios buscan</h1>
        <hr>
        <form class="form" action="/terminosBuscados" method="POST" autocomplete="off">
            <section class=" clearfix">
                <button type="submit" class="add-act-btn" value="submit"> <a id="Add-Act">Consultar términos</a>
                </button>
            </section>
        </form>
    </section>

    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="MensajesFlash">
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </section>
</body>

</html>